<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .home-sticky-post .post-image {
            float: left;
            margin-right: 20px; /* Adjust as needed */
        }
        
    </style>
</head>
<body>
    <aside class="home-sticky-post post has-post-thumbnail sticky">
        <span class="post-image">
            <a href="#">
                <img width="250" height="250" src="static/images/movie.jpg" class="attachment-sticky size-sticky" alt=""/>
            </a>
        </span>
        <div class="inner">
            <h3 class="entry-title">
                <a href="#">Alaipayuthey</a>
            </h3>
            <ul class="meta top">
                <li class="time">
                    <a href="#" title="Alaipayuthey">
                        <time class="post-date updated" datetime="2015-01-31">Favourite Movie</time>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    
    <aside class="home-sticky-post post has-post-thumbnail sticky">
        <span class="post-image">
            <a href="#">
                <img width="250" height="200" src="static/images/mo.jpg" class="attachment-sticky size-sticky" alt=""/>
            </a>
        </span>
        <div class="inner">
            <h3 class="entry-title">
                <a href="#">Virat Kohli</a>
            </h3>
            <ul class="meta top">
                <li class="time">
                    <a href="#">
                        <time class="post-date updated" datetime="2015-01-25">Favourite Cricketer</time>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    
</body>
</html>